@import "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap";
html {
  scroll-behavior: smooth;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Press Start 2P";
}

body {
  background-color: black;
  color: white;
}

/* Hamburger Menu for Mobile Size (Initially not displayed on Desktops,Tablets Size)*/
#mobile_menu_container {
  display: none;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 20%;
  transition: all 0.5s ease;
  top: 40px;
  /* Profile Section in Sidebar Contains Images and Texts*/
  /* Sidebar Links */
  /*Social Links*/
}
.sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}
.sidebar .profile img {
  display: block;
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
}
.sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
  font-size: 16px;
}
.sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 10px;
}
.sidebar ul li a {
  display: block;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  padding: 25px;
}
.sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}
.sidebar ul li a:hover {
  color: #0c7db1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}
.sidebar ul li a:hover .icon {
  color: #0c7db1;
}
.sidebar ul li a:hover:before {
  display: block;
}
.sidebar .socials {
  margin: 15% auto;
  display: flex;
  justify-content: space-around;
  width: 100px;
}
.sidebar .socials a:hover {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.sidebar .socials a:hover span {
  color: black;
}
.sidebar .socials .icon {
  color: #dee4ec;
}

main {
  width: 75%;
  margin: 5% 20%;
  padding: 75px;
  border-radius: 25px;
}

.uppermost_text {
  display: flex;
  justify-content: space-between;
}
.uppermost_text h4:first-child {
  color: #4E53E2;
}
.uppermost_text span {
  color: #21EF80;
}

#home {
  /* The typing effect */
  /* The typewriter cursor effect */
}
#home h1 {
  margin-top: 50px;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FF63D8;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FF63D8;
  }
}
#home .typewriter {
  margin-top: 70px;
  width: 640px;
}
#home .typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  letter-spacing: 0.15em;
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
#home .typewriter h1 span {
  color: #FF63D8;
}
#home p {
  margin-top: 80px;
  line-height: 3;
  text-align: justify;
}
#home p span {
  border-bottom: 2px solid #FF63D8;
  padding-bottom: 5px;
}

hr {
  margin: 50px 0;
}

#experience p {
  line-height: 3;
  margin-top: 50px;
}
#experience h1 {
  color: #FF63D8;
}

#education h1 {
  color: #FF63D8;
}
#education .education_list li {
  list-style: disc;
  margin: 50px 0;
  line-height: 3;
}

#projects h1 {
  color: #FF63D8;
}
#projects .projects_container {
  margin-top: 50px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#projects .projects_container h1 {
  color: #FF63D8;
}
#projects .projects_container .project_card {
  width: 600px;
  padding: 30px 0;
}
#projects .projects_container .project_card img {
  width: 100%;
  border-radius: 15px;
}
#projects .projects_container .detail_container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: baseline;
}
#projects .projects_container .detail_container a {
  color: white;
}
#projects .projects_container .link_icons:hover {
  transition: 0.2s;
  transform: translateY(-5px);
  cursor: pointer;
}

#skills h1 {
  color: #FF63D8;
}
#skills .skills_details {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
#skills .skills_details .skills_text_details {
  width: 40%;
  letter-spacing: 2px;
  line-height: 2;
  margin-top: 35px;
  text-align: justify;
  text-indent: 50px;
}
#skills .skills_details .logos_container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 20px;
  align-items: center;
}
#skills .skills_details .logos_container img {
  width: 90px;
  margin: 20px;
}

#fun_facts h1 {
  color: #FF63D8;
}
#fun_facts ul {
  line-height: 2;
  margin-top: 50px;
  text-align: justify;
}
#fun_facts ul li {
  margin: 30px 0;
}
#fun_facts ul .facts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#fun_facts ul .facts p {
  width: 40%;
}
#fun_facts ul .facts img {
  width: 500px;
  border-radius: 20px;
}

@media screen and (max-width: 1400px) {
  .sidebar ul li a {
    display: block;
    color: rgb(241, 237, 237);
    font-size: 11px;
    position: relative;
    padding: 25px;
  }
  .sidebar .socials {
    margin: 40px auto;
  }
  #skills .skills_details {
    display: block;
  }
  #skills .skills_details .skills_text_details {
    width: 100%;
  }
  #skills .skills_details .logos_container {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
  #fun_facts ul {
    text-align: center;
  }
  #fun_facts ul .facts {
    display: block;
  }
  #fun_facts ul .facts p {
    width: 100%;
  }
  #projects .projects_container .project_card {
    width: 95%;
  }
}
/* Tablet breakpoint*/
@media screen and (max-width: 964px) {
  #home .typewriter {
    width: 95%;
  }
  #home .typewriter h1 {
    white-space: normal;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    width: 28.5%;
  }
  .sidebar ul li a {
    font-size: 13px;
  }
  main {
    margin: 5% 30%;
  }
  #home .typewriter {
    width: 80%;
  }
  #home .typewriter h1 {
    white-space: normal;
  }
  #fun_facts ul .facts img {
    width: 100%;
    border-radius: 20px;
  }
}
/*Mobile Breakpoint*/
@media screen and (max-width: 640px) {
  body {
    font-size: 10px;
  }
  #mobile_menu_container {
    padding: 20px 30px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    color: white;
    width: 100%;
    align-items: center;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
  }
  #mobile_menu_container img {
    width: 20%;
    border-radius: 50%;
  }
  #mobile_menu {
    font-size: 30px;
    position: relative;
  }
  #wrapper {
    display: none;
  }
  .sidebar {
    width: 100%;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
    top: 91px;
  }
  .sidebar .profile {
    margin: 0;
  }
  .sidebar .profile img {
    display: none;
  }
  .sidebar .profile h3,
.sidebar .profile p {
    display: none;
  }
  main {
    width: 95%;
    padding: 20px;
    margin: 0 auto;
  }
  #home {
    margin-top: 150px;
  }
  #home .typewriter {
    width: 60%;
  }
  #home .typewriter h1 {
    white-space: normal;
  }
  #skills .skills_details .logos_container img {
    width: 50px;
  }
}/*# sourceMappingURL=styles.css.map */